<div class="chat">
    <div class="chat__wrapper">
        <div class="chat__dialogues">
            <div class="chat__profile">
                <a href="/profile">
                    Профиль >
                </a>
            </div>

            <input class="chat__search" placeholder="Поиск" />

            {{#each dialogues}}
                <div class="chat__dialogue">

                    <div class="chat__avatar"></div>

                    <div class="chat__name">
                        {{name}}
                    </div>

                    <div class="chat__last-message">
                        {{lastMessage}}
                    </div>
                </div>
            {{/each}}
        </div>

        <div class="chat__messages-wrapper">
            <div class="chat__message-input">
                <input type="text" class="chat__message" placeholder="Сообщение" value={{message}} />

                <div class="chat__send">
                    <span>
                        >
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
