{{#each dialogues}}
    <div class="chat__dialogue">

        <div class="chat__avatar"></div>

        <div class="chat__name">
            {{name}}
        </div>

        <div class="chat__last-message">
            {{lastMessage}}
        </div>
    </div>
{{/each}}
