<div class="login">
    <h2 class="login__title">Авторизация</h2>

    <div class="login__wrapper">
        <label class="login__input-wrapper">
            <span class="login__input-title">
                Логин
            </span>

            <input class="login__input" type="text" value={{login}} />
        </label>

        <label class="login__input-wrapper">
            <span class="login__input-title">
                Пароль
            </span>

            <input class="login__input" type="password" value={{password}} />
        </label>

        <a href="/chat">
            {{> button title="Войти" class="login__button"}}
        </a>

        <div class="login__link">
            <a href="/registration">
                Нет аккаунта?
            </a>
        </div>
    </div>
</div>
