{{#> layout style="profile.less" title=profile.title script="profile.ts"}}
    <form class="profile">
        <div class="profile__back">
            <a href="/chat">
                < Назад
            </a>
        </div>

        <div class="profile__wrapper">
            <div class="profile__avatar">
                <span>
                ?
                </span>
            </div>

            <div class="row">
                <div class="input-wrapper">
                    {{> input class="profile__input-wrapper" id="profile-email" type="email" title="E-mail" value=profile.email }}

                    <span id="profile-email-error" class="error"></span>
                </div>

                <div class="input-wrapper">
                    {{> input class="profile__input-wrapper" id="profile-login" type="text" title="Логин" value=profile.login }}

                    <span id="profile-login-error" class="error"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-wrapper">
                    {{> input class="profile__input-wrapper" id="profile-first-name" type="text" title="Имя" value=profile.first_name }}

                    <span id="profile-first-name-error" class="error"></span>
                </div>

                <div class="input-wrapper">
                    {{> input class="profile__input-wrapper" id="profile-second-name" type="text" title="Фамилия" value=profile.second_name }}

                    <span id="profile-second-name-error" class="error"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-wrapper">
                    {{> input class="profile__input-wrapper" id="profile-phone" type="text" title="Телефон" value=profile.phone }}

                    <span id="profile-phone-error" class="error"></span>
                </div>
            </div>

            <div class="profile__button-wrapper">
            </div>

            <div class="profile__link">
                <a href="/">
                    Выйти
                </a>
            </div>
        </div>
    </form>
{{/layout}}