{{#> layout style="registration.less" title=registration.title script="registration.ts"}}
    <form class="registration">
        <h2 class="registration__title">Регистрация</h2>

        <div class="registration__wrapper">
            <div class="row">

                <div class="input-wrapper">
                    {{> input class="registration__input-wrapper" id="email" type="email" title="E-mail" value=registration.email }}

                    <span id="email-error" class="error"></span>
                </div>

                <div class="input-wrapper">
                    {{> input class="registration__input-wrapper" id="registration-login" type="text" title="Логин" value=registration.login }}

                    <span id="registration-login-error" class="error"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-wrapper">
                    {{> input class="registration__input-wrapper" id="first-name" type="text" title="Имя" value=registration.first_name }}

                    <span id="first-name-error" class="error"></span>
                </div>

                <div class="input-wrapper">
                    {{> input class="registration__input-wrapper" id="second-name" type="text" title="Фамилия" value=registration.second_name }}

                    <span id="second-name-error" class="error"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-wrapper">
                    {{> input class="registration__input-wrapper" id="phone" type="phone" title="Телефон" value=registration.phone }}

                    <span id="phone-error" class="error"></span>
                </div>
            </div>

            <div class="line"></div>

            <div class="row">
                <div class="input-wrapper">
                    {{> input class="registration__input-wrapper" id="password" type="password" title="Пароль" value=registration.password }}

                    <span id="password-error" class="error"></span>
                </div>

                <div class="input-wrapper">
                    {{> input class="registration__input-wrapper" id="password-2" type="password" title="Повторите пароль" value=registration.password }}

                    <span id="password-2-error" class="error"></span>
                </div>
            </div>

            <div class="registration__button-wrapper">
            </div>

            <div class="registration__link">
                <a href="/">
                    Войти
                </a>
            </div>
        </div>
    </form>
{{/layout}}
