<div class="error">
    <div class="error__wrapper">
        <h2 class="error__title">{{error}}</h2>

        <div class="error__text">
            {{text}}
        </div>

        <div class="error__link">
            <a href="/chat">
                Назад к чатам
            </a>
        </div>
    </div>
</div>
