<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="main.less">
        <link rel="stylesheet" href="./layouts/profile.less">
        <title> {{ profile.title }}  </title>
    </head>

    <body>
        <div class="profile">
            <div class="profile__back">
                <a href="/chat">
                    < Назад
                </a>
            </div>

            <div class="profile__wrapper">
                <div class="profile__avatar">
                <span>
                    ?
                </span>
                </div>

                <div class="row">
                    {{> input class="profile__input-wrapper" type="email" title="E-mail" value=profile.email }}

                    {{> input class="profile__input-wrapper" type="text" title="Логин" value=profile.login }}
                </div>

                <div class="row">
                    {{> input class="profile__input-wrapper" type="text" title="Имя" value=profile.first_name }}

                    {{> input class="profile__input-wrapper" type="text" title="Фамилия" value=profile.second_name }}
                </div>

                <div class="row">
                    {{> input class="profile__input-wrapper" type="text" title="Телефон" value=profile.phone }}
                </div>

                <div class="profile__button-wrapper">
                    {{> button class="profile__button" title="Сохранить"}}
                </div>

                <div class="profile__link">
                    <a href="/">
                        Выйти
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>