<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="main.less">
        <link rel="stylesheet" href="./layouts/registration.less">
        <title> {{ profile.title }}  </title>
    </head>

    <body>
        <div class="registration">
            <h2 class="registration__title">Регистрация</h2>

            <div class="registration__wrapper">
                <div class="row">
                    {{> input class="registration__input-wrapper" type="email" title="E-mail" value=registration.email }}

                    {{> input class="registration__input-wrapper" type="text" title="Логин" value=registration.login }}
                </div>

                <div class="row">
                    {{> input class="registration__input-wrapper" type="text" title="Имя" value=registration.first_name }}

                    {{> input class="registration__input-wrapper" type="text" title="Фамилия" value=registration.second_name }}
                </div>

                <div class="row">
                    {{> input class="registration__input-wrapper" type="text" title="Телефон" value=registration.phone }}
                </div>

                <div class="line"></div>

                <div class="row">
                    {{> input class="registration__input-wrapper" type="password" title="Пароль" value=registration.password }}

                    {{> input class="registration__input-wrapper" type="password" title="Повторите пароль" value=registration.password }}
                </div>

                <div class="registration__button-wrapper">
                    {{> button class="registration__button" title="Зарегистрироваться"}}
                </div>

                <div class="registration__link">
                    <a href="/">
                        Войти
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
